<div class="py-5">
  <form class="form">
      <!--<div class="form-group">-->
      <div class="row">
        <div class="col-md-8">
          <input type="text" class="form-control rounded-0" [(ngModel)]="query" name="query" placeholder="Search video..."> 
        </div>     
        <div class="col-md-4">
            <button type="button" (click)="searchVideo()" class="btn btn-success">Search</button>  
        </div>  
      </div>    
      <!--</div>-->  
   </form>
</div>

<ul class="nav nav-pills flex-column"> 
  <li class="nav-item" *ngFor="let video of videos.items">
    <img src={{video.snippet.thumbnails.default.url}}>
    <button class="btn btn-link">{{video.snippet.title}}</button>
  </li> 
</ul> 
