<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">VideoPlayer</a>
  </div>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"> <!--active-->
      <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/videos" routerLinkActive="active" class="nav-link">Playlist</a>
    </li>
    <li class="nav-item">
      <a routerLink="/search" routerLinkActive="active" class="nav-link">VideoSearch</a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
    <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
    <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>       
  </ul>
</nav>    
<div class="container">
  <router-outlet></router-outlet>            
</div>
